.App {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 100vh;
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 5rem;
}

.App-header {
  height: 3rem;
  padding: 1.25rem;
}

.App-title {
  font-size: 1.5rem;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
