.Collection {
  margin-top: 1.25rem;
}

.Collection img:hover {
  cursor: pointer;
}

.Collection-align-left {
  left: 0;
}

.Collection-align-right {
  right: 0;
}

.Collection-body {
  position: relative;
  margin-top: .625rem;
  padding-left: 5rem;
  padding-right: 5rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 34.375rem;
  overflow: hidden;
  border-radius: .3125rem;
  background-color: rgb(235, 235, 235);
}

.Collection-body-nav-button {
  position: absolute;
  top: 0;
  width: 3.75rem;
  height: 100%;
  background: transparent;
  font-size: 3rem;
}

.Collection-body-nav-button-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  filter: opacity(.05);
  color: #000000;
}

.Collection-body-nav-button-icon.active {
  filter: opacity(1);
  cursor: pointer;
}

.Collection-card {
  height: 17.1875rem;
  padding: .3125rem;
}

.Collection-classbar {
  flex-grow: 1;
}

.Collection-footer {
  margin-top: 1.25rem;
}

.Collection-header {
  display: flex;
}

.Collection-mana-bar {
  padding: .625rem;
  background-color: rgb(235, 235, 235);
  border-radius: .3125rem;
  width: 18.75rem;
}

.Collection-play-style {
  margin-right: .625rem
}

.Collection-play-style img {
  height: 2.8125rem;
}
